<!DOCTYPE HTML>
<!--
  Full Motion by TEMPLATED
  templated.co @templatedco
  Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
  <head>
    <title>Feedback page</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{url_for('static',filename='assets/css/main.css')}}"/>
  </head>
  <body id="top">

      <!-- Banner -->
      <!--
        To use a video as your background, set data-video to the name of your video without
        its extension (eg. images/banner). Your video must be available in both .mp4 and .webm
        formats to work correctly.
      -->
<section id="banner" data-video="images/banner">
          <div class="inner">
            <header>
              <h1>Feedback</h1>

            </header>
            <a href="#main" class="more">Learn More</a>
          </div>
        </section>

      <!-- Main -->
        <div id="main">
          <div class="inner">

          <!-- Boxes -->
            <div class="thumbnails"> 

  <label for="email" class="sr-only">Email address</label>
  <input name="email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
  <label for="message" class="sr-only">message</label>
  <input type="text" id="inputPassword" name="message" class="form-control" placeholder="message" required>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Send</button>

  </div>
  
<div class="flex_space"></div>

</body>
</html>




        </footer>

    <!-- Scripts -->
      <script src="{{url_for('static',filename='assets/js/jquery.min.js')}}"></script>
      <script src="{{url_for('static',filename='assets/js/jquery.scrolly.min.js')}}"></script>
      <script src="{{url_for('static',filename='assets/js/jquery.poptrox.min.js')}}"></script>
      <script src="{{url_for('static',filename='assets/js/skel.min.js')}}"></script>
      <script src="{{url_for('static',filename='assets/js/util.js')}}"></script>
      <script src="{{url_for('static',filename='assets/js/main.js')}}"></script>

  </body>
