<!DOCTYPE HTML>
<!--
	Full Motion by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>First aid</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{{url_for('static',filename='assets/css/main.css')}}"/>
	</head>
	<body id="top">

			<!-- Banner -->
			<!--
				To use a video as your background, set data-video to the name of your video without
				its extension (eg. images/banner). Your video must be available in both .mp4 and .webm
				formats to work correctly.
			-->
				<section id="banner" data-video="images/banner">
					<div class="inner">
						<header>
							<h1>First Aid</h1>
						
						<a href="#main" class="more">Learn More</a>
					</div>
				</section>

			<!-- Main -->
				<div id="main">
					<div class="inner">

					<!-- Boxes -->
						<div class="thumbnails">

							<div class="box">
								<a href="https://youtu.be/KqClwoUrgZA" class="image fit"><img src="{{url_for('static',filename='images/dog.jpg')}}" alt="" /></a>
								<div class="inner">
									<h3>Dog</h3>
									<p>First ensure the safety of yourself and others.
									 Keep calm and assess the situation before acting. 
									 Injured animals are frightened and in pain and may try to bite anyone who touches them.
									Contact the vet.
									Keep your vet's phone number to hand and know the name of the practice.
									Always phone first, whatever the situation, as there may not always be a vet available but staff may be able to suggest immediate action you can take
									Have a pen handy in case another number is given. Treatment can usually be provided more quickly if the dog is taken to the surgery, rather than if the vet is called out.
									If there is a risk of biting, put a muzzle on the dog, or wrap tape around the nose and tie behind the ears, unless the dog has difficulty breathing. Small dogs may be restrained by putting a thick towel over their heads.
									Never give human medicines to a dog – many will do more harm than good. Do not offer food or drink in case anaesthetic is needed.
									Drive carefully when taking the patient to the surgery
									If you do get bitten, see your doctor</p>
									<a  href="https://youtu.be/KqClwoUrgZA" class="button fit" data-poptrox="youtube,800x400">Watch</a>
								</div>
							</div>

						

							<div class="box">
								<a href="https://youtu.be/76RXfHixntE" class="image fit"><img src="{{url_for('static',filename='images/cat.png')}}" alt="" /></a>
								<div class="inner">
									<h3>Cats</h3>
									<p>your pet seems weak, is reluctant to get up, or is dull or depressed 
there is difficulty breathing, the breath is noisy or rapid, or there is continual coughing that is causing distress 
there is repeated vomiting, particularly if the animal is young or elderly. Diarrhoea, however, is less serious (except in kittens) unless it is severe, bloody or the animal seems weak or unwell. Feed small amounts of a bland diet (boiled chicken or white fish) and see a vet if it persists more than a day. 
your cat appears to be in severe pain or discomfort
your pet suddenly has difficulty with balance 
your pet is trying to urinate or defecate but is unable to pass anything. Blockage of the bladder sometimes occurs, especially in males, and can kill if not treated urgently. </p>
									<a href="https://youtu.be/76RXfHixntE" class="button style2 fit" data-poptrox="youtube,800x400">Watch</a>
								</div>
							</div>

							<div class="box">
								<a href="https://youtu.be/zTGgXYzJuuE" class="image fit"><img src="{{url_for('static',filename='images/bird.jpeg')}}" alt="" /></a>
								<div class="inner">
									<h3>Birds</h3>
									<p>Minimize stress. With increased stress, the need for oxygen increases. If a bird is having difficulty in breathing, added stress may make the difference between life and death.
Prompt treatment by an avian vet
Affected birds should be isolated from the rest of the stock as many respiratory diseases are highly infectious and are spread through the air.
Provide supportive care, including keeping the bird warm at about 80F or 27 C.
Lighting should be subdued as this appears to reduce stress; but not turned off, as this would stop your bird from eating and drinking.ower the perches to prevent injury in case the bird falls off.
Make sure that food and water are within easy reach.
Clean off any discharge from the nostrils or eyes with moistened cotton wool
Weigh the bird at regular intervals. If weight loss occurs, of the bird is not seen eating or drinking, provide fluid (Pedialyte works well).</p>
									<a href="https://youtu.be/zTGgXYzJuuE" class="button style3 fit" data-poptrox="youtube,800x400">Watch</a>
								</div>
							</div>




				</footer>

		<!-- Scripts -->
			<script src="{{url_for('static',filename='assets/js/jquery.min.js')}}"></script>
			<script src="{{url_for('static',filename='assets/js/jquery.scrolly.min.js')}}"></script>
			<script src="{{url_for('static',filename='assets/js/jquery.poptrox.min.js')}}"></script>
			<script src="{{url_for('static',filename='assets/js/skel.min.js')}}"></script>
			<script src="{{url_for('static',filename='assets/js/util.js')}}"></script>
			<script src="{{url_for('static',filename='assets/js/main.js')}}"></script>

	</body>
</html> 