<!DOCTYPE HTML>
<!--
	Full Motion by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>Vet</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{{url_for('static',filename='assets/css/main.css')}}"/>
	</head>
	<body id="top">

			<!-- Banner -->
			<!--
				To use a video as your background, set data-video to the name of your video without
				its extension (eg. images/banner). Your video must be available in both .mp4 and .webm
				formats to work correctly.
			-->
				<section id="banner" data-video="images/banner">
					<div class="inner">
						<header>
							<h1>Vets </h1>
						<a href="#main" class="more">Learn More</a>
					</div>
				</section>

			<!-- Main -->
				<div id="main">
					<div class="inner">

					<!-- Boxes -->
						<div class="thumbnails">

							<div class="box">
								<a href="/cats" class="image fit"><img src="{{url_for('static',filename='images/vet.jpg')}}" alt="" /></a>
								<div class="inner">
									<h3>Emek Veterinary Clinic</h3>
									<ul>
									  <li>Emek Refa'im St 8</li>
									  <li> 0548064848</li>
									  <li> vetemek@gmail.com</li>
									</ul>
									
								</div>
							</div>

							<div class="box">
								<a href="https://youtu.be/s6zR2T9vn2c" class="image fit"><img src="{{url_for('static',filename='images/vet.jpg')}}" alt="" /></a>
								<div class="inner">
									<h3>Dr. Mollie Lawee Housecall Veterinarian</h3>
									<ul>
									  <li>Jerusalem</li>
									  <li> 0542662406</li>
									  <li> info@drmollie.co.il</li>
									</ul>
									
								</div>
							</div>

							<div class="box">
								<a href="https://youtu.be/s6zR2T9vn2c" class="image fit"><img src="{{url_for('static',filename='images/vet.jpg')}}" alt="" /></a>
								<div class="inner">
									<h3> Dr.Wajeeh Aweisat</h3>
									<ul>
										<li>Jabal el mukaber,23</li>
										<li>0526883010</li>
										<li>wajeehaweisat@gmail.com</li>
									
								</div>
							</div>




				</footer>

		<!-- Scripts -->
			<script src="{{url_for('static',filename='assets/js/jquery.min.js')}}"></script>
			<script src="{{url_for('static',filename='assets/js/jquery.scrolly.min.js')}}"></script>
			<script src="{{url_for('static',filename='assets/js/jquery.poptrox.min.js')}}"></script>
			<script src="{{url_for('static',filename='assets/js/skel.min.js')}}"></script>
			<script src="{{url_for('static',filename='assets/js/util.js')}}"></script>
			<script src="{{url_for('static',filename='assets/js/main.js')}}"></script>

	</body>
</html> 